.cardActions{
    display: flex;
    justify-content: space-around;
}

.CardContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detailsCardBox{
    display: flex;
    justify-content: start;
    gap: 10px;
}

.detailsCard{
    display: flex;
    align-items: center;
}

.CardContentTitle{
    display: flex;
    justify-content: space-between;
}

.detailsLink{
    width: 62%;
    background-color: #007bff;
    color: #fff;
    padding: 9px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px; 
}

.detailsLink:hover{
    background-color: #314E7E;
}