.signUpContent{
    padding: 4px 0px 0px 0px !important;
    height: 70vh;
}
.textSignup1{
    padding: 7px 0px 0px 0px !important;
    font-size: 11px !important;
}

.css-ypiqx9-MuiDialogContent-root {
    overflow-y: hidden !important;
    padding: 15px 20px;
}