.MuiContainer-root{
    text-align: center;
}

.errorContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.btnBack{
    background-color: #007bff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;

}

.btnBack:hover{
    background-color: #314E7E;
}